.find-user-view {
    align-items: center;
}

.find-user-view vaadin-button {
    width: 50%;
}

.find-user-view vaadin-text-field {
    width: 50%;
}

.groups-view {
    width: 100%;
    height: 100%;
}

.groups-view vaadin-grid {
    width: 100%;
    height: 100%;
}

.admin-view {
    align-items: center;
}

.admin-view vaadin-form-layout {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.admin-view vaadin-button {
    height: 100px;
    margin-top: 15px;
}

.user-view {
    align-items: center;
}

.user-view vaadin-button {
    width: 100%;
}

.user-creator {
    align-items: center;
}

.user-creator vaadin-email-field {
    width: 50%;
}

.user-creator vaadin-password-field {
    width: 50%;
}

.info-box {
    width: 100%;
    align-self: center;
}

.info-box vaadin-text-field {
    width: 100%;
}